#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.photo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  max-height: 500px;
}
.photo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer {
  margin-top: auto;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

